body {
  /* background-color: yellow; */
  margin: 0;
  /* center everything except inline */
  text-align: center;
  background-color: #f6f6e9;
  /* font-family: Arial, sans-serif; */
  /* font-family: monospace; */
  /* font-family: Andale Mono, monospace; */
  font-family: Courier New, monospace;
  /* font-family: Courier, monospace; */
  /* font-family: Lucidatypewriter, monospace; */
}

div {
  /* background-color: #f6f6e9; */
  padding: 20px;
}

h1 {
  /* overwite default browser settings */
  margin: 0;
  /* center with specified width */
  /* width: 10%;
  margin: 0 auto */
  /* display: inline;
  display: inline-block; */
  /* background-color: #f6f6e9; */
}

/* .redDiv {
  margin: 0;
  margin-left: 200px;
  background-color: red;
  border: solid 20px;
  border-color: black;
  width: 200px;
  height: 200px;
  padding: 0;
}

.blueDiv {
  margin: 0;
  margin-left: 440px;
  border: solid 20px;
  background-color: blue;
  width: 200px;
  height: 200px;
  padding: 0;
  position: relative;
  left: 20px;
} */

.undline{
  text-decoration: underline;
}

.top-container {
  /* background-color: #f6f6e9; */
  position: relative;
  /* margin-top: 50px; */
  /* width: 200px; */
  height: 100px;
  /* padding-top: 100px; */
}
.cloud1 {
  position: absolute;
  right: 20%;
  top: 50px;
  /* left: 80%; */
  /* margin-bottom: 50px; */
  /* margin: 0 auto; */
}

.bottom-container {
    position: relative;
    /* padding-top: 100px; */
  /* margin-top: 50px; */
  /* width: 200px; */
  height: 100px;

}

.cloud2 {
  position: absolute;
  left: 20%;
  bottom: 50px;
  /* bottom: 100px; */
  /* margin-top: 50px */
  /* margin: 0 auto; */
}
